* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #f5f5f5;
}

#text-alert {
    color: red;
    font-size: 20px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    display: none;
    visibility: hidden;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    background-color: white;
    width: 40rem;
    height: 20rem;
    border-radius: 3%;
    margin: 0 auto;
    margin-top: 15rem;
}

#required-div {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 15px;
}

input {
    background-color: #f5f5f5;
    border: 1px solid #b6b6b6;
    color: #5e5e5e;
    border-radius: 5%;
    padding: 1rem;
    font-size: 15px;
    padding-right: 8rem;
    font-size: 15px;
}

#principal-button {
    background-color: #f5f5f5;
    border: solid 1px #b6b6b6;
    padding: 1rem;
    border-radius: 20%;
    cursor: pointer;
    margin-left: 0.1rem;
}

.hidden {
    display: none;
        
}

#taskStyle {
    background-color: #f5f5f5;
    margin-top: 2rem;
    border: 1px solid #b6b6b6;
    color: #b6b6b6;
    border-radius: 5%;
    padding: 0.5rem;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

#title-task {
    color: #5e5e5e;
    display: flex;
    align-items: center;
}

.confirm {
    background-color: white;
    cursor: pointer;
    border: solid 1px #b6b6b6;
    padding: 0.6rem;
    border-radius: 20%;
    margin-right: 0.3rem;
}

.edit {
    background-color: blue;
    cursor: pointer;
    border: solid 1px #b6b6b6;
    padding: 0.6rem;
    border-radius: 20%;
    margin-right: 0.3rem;   
}

.trash {
    background-color: red;
    cursor: pointer;
    border: solid 1px #b6b6b6;
    padding: 0.6rem;
    border-radius: 20%;
}

#buttons {
    display: flex;
    flex-direction: row;
}


